.app{
    padding-top: 50px;
    color: #fff;
    font-weight: bold;
}

.counter_card {
    width: 30%;
    border:2px solid;
    text-align: center;
    height: 178px;
    background-color: blueviolet;
}

.counter_container {
    display: flex;
    justify-content: space-around;
}

.btn_div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.primary_btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 75px;
    font-weight: bold;
    border-radius: 6px;
    font-size: 20px;
}

.outer_btn {
    width: 150px;
    margin: 60px;
}

.counter_window {
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 10%;
    height: 20px;
    margin: 20px auto;    
}

.btn_container {
    width: 60%;
    margin: auto;
    text-align: center;
}